#!/bin/bash
#
# Run cronjob and create stats about it for prometheus


print_help() {
    echo "usage:
    $0 <identifyer> <command> <command arguments>"
}

# Verify arguments
if [[ "$#" -lt "2" ]]; then
    print_help; exit 1
fi

# Variables
textfile_collector_dir="/var/lib/prometheus-node-textfile-collector/logs/"
cronjob_name="$1"


# Run command and trace with it with `time`
# %e: Elapsed real (wall clock) time used by the process, in seconds
# %K: Average total (data+stack+text) memory use of the process, in Kilobytes
# %P: Percentage of the CPU that this job got.  This is just user + system times divided by the total running time.  It also prints a percentage sign
# %x: Exit status of the command
cronjob_result_full=$(/usr/bin/time --format "cron_time_status: %e %K %P %x" "${@:2}" 2>&1)

# If the cronjob has created output then print it
if [[ $(echo "$cronjob_result_full" | wc -l) != "1" ]]; then
    echo "$cronjob_result_full" | grep -v cron_time_status
fi

# Parse results
cronjob_result=$(echo "$cronjob_result_full" | grep cron_time_status | sed 's/cron_time_status: //g')
cronjob_duration=$(echo $cronjob_result | awk '{print $1}' | sed 's/\..*//g')
cronjob_memory=$(echo $cronjob_result | awk '{print $2}')
cronjob_cpu=$(echo $cronjob_result | awk '{print $3}' | sed 's/%//g' | sed 's/?/0/g')
cronjob_exit=$(echo $cronjob_result | awk '{print $4}')



# Print following output to prometheus status file
cron_temp_out=$(mktemp)
exec 2>&1 >$cron_temp_out

# Print results for prometheus
echo "# HELP cronjob_duration Elapsed real (wall clock) time used by the process, in seconds"
echo "# TYPE cronjob_duration gauge"
echo "cronjob_duration{name=\"$cronjob_name\"} $cronjob_duration"

echo "# HELP cronjob_memory Average total (data+stack+text) memory use of the process, in Kilobytes"
echo "# TYPE cronjob_memory gauge"
echo "cronjob_memory{name=\"$cronjob_name\"} $cronjob_memory"

echo "# HELP cronjob_cpu Percentage of the CPU that this job got. This is just user + system times divided by the total running time. It also prints a percentage sign"
echo "# TYPE cronjob_cpu gauge"
echo "cronjob_cpu{name=\"$cronjob_name\"} $cronjob_cpu"

echo "# HELP cronjob_exit Exit status of the command"
echo "# TYPE cronjob_exit gauge"
echo "cronjob_exit{name=\"$cronjob_name\"} $cronjob_exit"

# Move temp file to prometheus status
mv $cron_temp_out ${textfile_collector_dir}/cronjob_${cronjob_name}.prom
