#!/bin/bash
#
# checks if shorewall is running


echo "# HELP shorewall_running checks if shorewall is running"
echo "# TYPE shorewall_running gauge"
if /sbin/shorewall status | grep running 2>&1 >/dev/null; then
    echo "shorewall_running 1"
else
    echo "shorewall_running 0"
fi

echo "# HELP shorewall6_running checks if shorewall6 is running"
echo "# TYPE shorewall6_running gauge"
if /sbin/shorewall6 status | grep running 2>&1 >/dev/null; then
    echo "shorewall6_running 1"
else
    echo "shorewall6_running 0"
fi
