#!/bin/bash
#
# Read system priority


echo "# HELP system_priority defines the priority of a server instance"
echo "# TYPE system_priority gauge"
echo "system_priority $(cat /var/lib/prometheus-node-textfile-collector/logs/system-priority.prom)"
